.container{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    div{
        width: 350px;
        height: 100px;
        border-radius: 20px;
        background-color: rgb(106, 238, 109);
        padding: 25px 40px;
        font-size: 25px;
        color: rgb(21, 0, 255);
        position: relative;
    }
    .sms-right{
        background-color: rgb(165, 238, 255);
        align-self: flex-end;
    }
     .btn{
        width: 60px;
        height: 50px;
        position: absolute;
        top: 105%;
        left: 0;
        background-color: red;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
     }

}